*{
    padding: 0%;
    margin: 0%;

}
#container{
    width: 250px;
    height:100vh;
    background: #E1F9F4;
    text-align: center;
}
 ul{
    margin-top: 50px;
 }
ul li{
    list-style: none;
   
   
}
.icons{
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
